:root {
    --fontclr: #ffffff;
    --cardclr: #D9C49C;
    --brdrclr: #F2C879;  
    --btnhvr: #336cb8;
    --btn: #0798F2;  
}

body {
    margin: 0;
    padding: 0;
    font-family: "Viana Sans", "Space Mono", sans-serif;
    font-size: 16px;
    background-color: #1C3659;
    color: var(--fontclr);
}

.banner {
    background: linear-gradient(45deg, rgb(14, 99, 148), rgb(11, 53, 107));
    color: var(--fontclr);
    font-family: "Vina Sans";
    font-size: 30px;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 35px;
    text-align: center;
}
 
h1{
    font-size: 45px;
}

.card {
    background: var(--cardclr);
    border: 1px solid var(--brdrclr);
    border-radius: 8px;
    padding: 0px;
    padding-top: 5px;
    margin: 15px 10px;
    padding: 1%;
}

.card-header {
    font-size: 25px;
    margin-bottom: 20px;
}

.form-input {
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--cardclr);
}

.btn {
    width: 100%;
    background-color: var(--btn);
    border-radius: 4px;
}

.btn:hover {
    background-color: var(--btnhvr);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.search {
    width: 30%;
}

.weather-details {
    width: 70%;
    display: flex;
    padding: 20px;
}

#currentweather {
    background-color: var(--cardclr);
    width: 100%;
    border-radius: 20px;
    height: 100%;
    text-align: left;
    text-indent: 20px;
}
