:root {
   --fontclr: #ffffff;
}

.banner {
   background: linear-gradient(45deg, rgb(14, 99, 148), rgb(11, 53, 107));
   color: var(--fontclr);
   font-family: "Vina Sans";
   font-size: 30px;
   letter-spacing: 2px;
   border-radius: 20px;
   padding: 20px;
}
  
.app-title {
   font-weight: lighter;
   text-align: center;
}

h1 {
  margin: 0;
  line-height: 1.25;
}
